.title {
	color: #1976d2; /* Replace with your desired primary color */
	font-size: 1.5rem;
	font-weight: 500;
}

.headline {
	font-weight: 700;
	font-size: clamp(1.875rem, 1.3636rem + 2.1818vw, 3rem);
}

.secondaryText {
	color: #6b6b6b; /* Secondary text color */
	font-size: 1rem;
	line-height: 1.5;
}

.button {
	font-size: 1.25rem;
	text-transform: none; /* Material-UI buttons are uppercase by default */
}
